<div class="dialogPedido">
	<md-toolbar color="primary" style="width: 100%; position: fixed; top: 0px; left: 0px;">
	  <span style="color: white;">Novo pedido</span>
	  <span style="flex: 1 1 auto;"></span>
		<button md-button md-dialog-close style="color: white;">
			<md-icon>close</md-icon>
		</button>
	</md-toolbar>
	<div md-dialog-content style="width: 100%; height: 100%; padding-top: 70px; max-height:85%;">
		<section>
			<md-select color="primary" placeholder="Empresa" [(ngModel)]="empresa" style="width: 100%;">
				<md-option *ngFor="let empresa of empresas" [value]="empresa">{{ empresa.nomeFantasia }}</md-option>
			</md-select>
		  <section>
			<h4 style="padding-top: 30px;">Itens do pedido:</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="text-align: center; flex: 1 1 auto;">Produto</th>
						<th style="text-align: center; width: 100px;">Qtd.</th>
						<th style="text-align: center; width: 70px;">Selecionar</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of pedido.itens">
						<td style="flex: 1 1 auto;">
							<md-select [(ngModel)]="item.produto" style="width: 100%; padding-top: 13px;">
								<md-option *ngFor="let produto of produtos" [value]="produto">{{ produto }}</md-option>
							</md-select>
						</td>
						<td style="text-align: center; width: 100px;">
							<md-input-container class="itemChecked-{{item.checked}}">
								<input mdInput [(ngModel)]="item.qtd">
							</md-input-container>
						</td>
						<td style="text-align: center; width: 70px;">
							<md-checkbox [checked]="item.checked" (change)="item.checked = !item.checked"></md-checkbox>
						</td>
					</tr>
				</tbody>
			</table>
		  </section>
		</section>
		<button md-fab (click)="addItem()" mdTooltip="Novo item" [mdTooltipPosition]="'left'" style="position: fixed; right: 30px; bottom: 85px;">
			<md-icon>fiber_new</md-icon>
		</button>
		<button md-fab color="warn" (click)="deleteItem()" mdTooltip="Excluir itens selecionados" [mdTooltipPosition]="'left'" style="position: fixed; right: 30px; bottom: 20px;">
			<md-icon>delete</md-icon>
		</button>
	</div>
	<div layout="row" layout-align="start center" style="text-align: center;" flex>
		<button class="btn btn-primary" (click)="salvarPedido(pedido)" style="width: 50%;">Fechar Pedido</button>
	</div>
</div>
