<md-toolbar color="primary" style="width: 100%; position: fixed; top: 0px; left: 0px;">
  <span style="color: white;">Pedidos da {{ empresa.nomeFantasia }}</span>
  <span style="flex: 1 1 auto;"></span>
	<button md-button md-dialog-close style="color: white;">
		<md-icon>close</md-icon>
	</button>
</md-toolbar>
<div md-dialog-content class="row" style="width: 100%; height: 100%; padding-top: 70px;">
  <div class="col-sm-4"
    *ngFor="let pedido of empresa.pedidos" style="padding-top: 10px">
    <md-toolbar color="primary" style="border-radius: 3px 3px 0 0;">
        <p style="text-align: center; color: white; width: 100%;">
          Pedido Número: {{empresa.pedidos.indexOf(pedido)+1}}
        </p>
    </md-toolbar>
    <md-card>
      <md-card-header style="width: 100%;">
        <md-card-subtitle style="width: 100%; text-align: center;">Itens do pedido</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table style="width: 100%;">
          <tr>
            <th style="width: 80%">Produto</th>
            <th style="width: 20%">Qtd</th>
          </tr>
          <tr *ngFor="let item of pedido.itens">
            <td>{{ item.produto }}</td>
            <td>{{ item.qtd }}</td>
          </tr>
        </table>
      </md-card-content>
      <button md-fab color="primary" mdTooltip="Cancelar pedido" [mdTooltipPosition]="'left'" style="position: absolute; right: -11px; bottom: -3px;" (click)="deletePedido(pedido)">
        <md-icon>money_off</md-icon>
      </button>
    </md-card>
  </div>
</div>
